@use "../scss/mixins" as *;
@use "../scss/vars" as *;

// Top Header
.top-header {
    height: 25px;
    background-color: $blue;
    text-transform: uppercase;
    
    a{
        color: $white;
        font-size: 11px;
        margin-left: 50px;
        font-weight: 700;
        position: relative;
    }
}

.top-header-container {
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding-right: 20px;
    @include flexbox(end, center);

    a:nth-child(2)::after{
        content: '\f0d7';
        font: var(--fa-font-solid);
        color: $white;
        position: absolute;
        left: 120px; 
        top: 50%;
        transform: translateY(-50%);

    }
}


// Main Header

.header-container {
    @include flexbox(space-between, center);
    margin-top: 13px;
}

header {
    height: 130px;
    background-color: $white;


img {
    width: 80px;
}

ul {
    display: flex;

    li {
        padding: 0 15px;


        a {
            color: $lightBlack;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;

            &:hover,
            &.active {
                color: $blue;
                border-bottom: 5px solid $blue;
                padding-bottom: 35px;
            }

            .blue-arrow {
                color: $blue;
                margin-left: 5px;
                font-size: 15px;
                position: relative;
                top: -4px;
            }
        }
    }
    
}
}

// Search Bar

input{
    border: 2px solid transparent;
    padding: 8px;
    border-bottom:  2px solid $blue;

    &::placeholder{
        text-align: end;
        font-size: 1rem;
        font-weight: bold;
        margin-right: 15px;

    }

    &:focus-visible{
        border:  2px solid $blue;
        border-radius: 9px;
    }

}
.search-bar{
    position: relative;
}

.search-bar::after{
    content: '\f002';
    font: var(--fa-font-solid);
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
}